<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>

  <connectionStrings>
    <!--<add name="sewaherbs" connectionString="Server=103.21.58.193;Database=db_ipgaelection;Uid=ipgaelection;Password=tiger2014;Connect Timeout=60;;Max Pool Size=500;Min Pool Size=20;" providerName="System.Data.SqlClient" />-->
    <add name="sewaherbs" connectionString="Server=DELLPC\LOCALSERVER;Database=db_sewaherbs;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <appSettings>
    <clear/>
    <add key="paypalemail" value="prasantcalls@live.com"/>
    <add key="SuccessURL" value="http://www.sewaherbs.in/thanks.aspx"/>
    <add key="FailedURL" value="http://www.sewaherbs.in/error.aspx"/>
    <add key="ShoppingURL" value="http://www.sewaherbs.in/list-of-products.aspx"/>
  </appSettings>



  <system.web>

    <authorization>
      <allow users="vandu" />
    </authorization>
    <roleManager defaultProvider="sewaherbRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="sewaherbs" applicationName="/" name="sewaherbRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>


    <membership defaultProvider="sewaherbMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="sewaherbMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="sewaherbs" enablePasswordRetrieval="true" enablePasswordReset="true" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" passwordStrengthRegularExpression="" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordFormat="Clear" applicationName="/"/>
      </providers>
    </membership>
    <httpRuntime maxRequestLength="1048576"/>
    <authentication mode="Forms">
      <forms name="loginForm" loginUrl="~/login.aspx" defaultUrl="~/administrator/index.aspx" timeout="20" slidingExpiration="true"/>
    </authentication>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->

    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="index.aspx"/>
        <!-- foo.htm is now the default document  -->
        <add value="index.html"/>
        <!-- 2nd default document in search order -->
        <add value="index.php"/>
        <!-- 3rd default document in search order -->
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
